
.contenedor{
    background: #eaeaea6c;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.contenido{
    background-image: url(/public/imgs/backgroud_login.png);
    background-position: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    color: #fff;
}
.txtWelcome{
    margin: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    text-align: center;
    display: contents;
}
.containerInputs{
    display: grid;
    gap: 15px;
}

input{
    width: 300PX;
    height: 35px;
    border-radius: 5px;
    border: none;
}
button{
    background-color: #0600006c;
    color: #fff;
    width: 330PX;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: #ffffff;
}
